{:remote-addr "0:0:0:0:0:0:0:1",
 :headers {"accept" "*/*",
           "accept-encoding" "gzip,deflate",
           "connection" "keep-alive",
           "host" "localhost:8080",
           "user-agent" "HTTPie/0.9.4"},
 :async-channel #object[org.httpkit.server.AsyncChannel0x13a48425 "/0:0:0:0:0:0:0:1:8080<->/0:0:0:0:0:0:0:1:54692"],
 :server-port 8080,
 :content-length 0,
 :websocket? false,
 :content-type nil,
 :character-encoding "utf8",
 :uri "/",
 :server-name "localhost",
 :query-string nil,
 :body nil,
 :scheme :http,
 :request-method :get}
